.major{
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}
.smalltxt{
    text-align: left;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcfcf;
    margin-top: 0px;
    margin-bottom: 20px;
}
body{
    margin: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}
.container2{
    width: 350px;
    min-height: 400px;
    padding: 30px;
    background: #1f1f1f;
    border-radius: 10px;
    border: 0.5px solid #2f2f2f;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    padding-top: 5px;
    padding-bottom: 5px;
}
.top{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, #a855f7, #6c63ff);
    background-clip: text;
    color: transparent;
}
.error{
    color: red;
    font-size: 11px;
    margin-top: 3px;
    margin-bottom: 8px;
}
#login_err{
    display:none;
    margin-bottom:10px;
}
input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #2a2a2a;
    color: white;
    box-sizing: border-box;
    margin-top: 2px;
}
button{
    width: 100%;
    padding: 8px;
    background: linear-gradient(to right, #6c63ff, #a855f7);
    color: white;
    border-radius: 5px;
    border: none;
}
.strengthBox{
    width: 100%;
    height: 4px;
    background: #3a3a3a;
    border-radius: 5px;
    margin-top: 5px;
}
#strengthBar{
    height: 4px;
    width: 0%;
    border-radius: 5px;
}
#strength{
    font-size: 12px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #d0d0d0;
    display: block;
    margin-bottom: 4px;
}
.bottomText{
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    color: #cfcfcf;
    font-family: Arial, Helvetica, sans-serif;
}
.loginBox{
    min-height: 320px;
}
::placeholder{
    color: #aaa;
}
a{
    color: #a855f7;
}